{% load static %}
<html>
    <head>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">        
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/style1.css' %}" >
        <link rel="stylesheet" href="{% static 'css/color.css' %}" >
        <title>Beatnik</title>
    </head>
    <body class="bg-base0">        
        <!-- Banner -->
        <div style="height: 764px; background-image: url({% static 'image/img1.png' %}); background-repeat: no-repeat; background-size: 100%;">
            <div class="container-fluid">
            <!-- Navigation -->
                <nav class="navbar navbar-expand-lg navbar-dark" style="padding: 25px 0;">
                    <a class="navbar-brand" href="javascript:void(0)"><img src="{% static 'image/top-icon.png' %}"></a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navb">
                        <ul class="navbar-nav mr-auto">
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0)">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0)">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
                            </li> -->
                        </ul>
                        <form class="form-inline my-2 my-lg-0">                            
                            <a><i class="fa fa-search text-light" aria-hidden="true"></i></a>                            
                            <a><img src="{% static 'image/menu.png' %}"></a>
                            <button class="btn bg-base1 btn-lg my-2 my-sm-0" type="button">Let's Talk</button>
                        </form>
                    </div>
                </nav>
                <!-- Masthead-->
                <div class="masthead">
                    <div class="container h-100">
                        <div class="row h-100 text-left">
                            <div class="col-lg-5 align-self-end" style="">
                                <h1 class="text-uppercase text-white font-weight-bold">Creating</h1>
                                <h1 class="text-uppercase text-white font-weight-bold" style="background-image: url({% static 'image/text-background.png' %}); background-repeat: no-repeat;">Digital Bussiness</h1>
                            </div>
                            <div class="col-lg-8 align-self-baseline">                        
                                <a class="btn bg-base1 btn-lg text-light" href="#">Get Start!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner End -->
        <!-- About Us -->
        <div class="page-section my-5">
                <div class="row">
                    <div class="col-lg-6 text-center">
                        <img src="{% static 'image/img2.png' %}" class="img-responsive" width="100%">
                    </div>
                    <div class="col-lg-6 text-left">
                        <h2 class="text-white text-uppercase mt-0">About Us</h2>
                        <p class="text-white-50 mb-4 pr-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has</p>
                        <p><i class="fa fa-plus text-base1" style="" aria-hidden="true"></i></p>
                        <img src="{% static 'image/img3.png' %}" class="img-responsive pt-3" width="100%" style="position: absolute; right: 0px; top: 250px; width: 140%;">
                    </div>
                </div>
        </div>
        <!-- About Us End -->
        <!-- Our Services -->
        <div class="page-section my-5 py-5">
            <div class="row">
                <div class="col-lg-5 bg-base2">
                    <h2 class="text-white text-uppercase pl-5 pb-4" style="padding-top: 150px;">Our Services</h2>
                    <p class="text-white-50 pr-5 pl-5 pb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has</p>
                    <p><i class="fa fa-plus pl-5 text-base1" style="padding-bottom: 150px;" aria-hidden="true"></i></p>
                </div>
                <div class="col-lg-7 bg-base3" style="background-color: #220a2d;">
                    <h2 class="text-base1 text-uppercase pt-2">AR/MR Apps</h2>
                    <p class="text-white w-50">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem</p>
                    <ul class="text-light pt-3 display-5 font-weight-bold" style="list-style-type: none;">
                        <li class="pb-5">VR</li>
                        <li class="pb-5">IoT</li>
                        <li class="pb-5">ML & AI</li>
                        <li class="pb-5">Games</li>
                    </ul>
                    <img src="{% static 'image/img4.png' %}" class="img-responsive" style="position: absolute; right: 0px; top: 0px; width: 40%;">
                </div>
            </div>
        </div>
        <!-- Our Service End -->
        <!-- Portfolio -->
        <div class="page-section my-5">
            <h2 class="text-white text-center text-uppercase pb-3" >Work We Proud Of</h2>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 ">
                        <img src="{% static 'image/img5.png' %}" class="img-responsive" style="width: 100%;">
                    </div>
                    <div class="col-lg-6">
                        <img src="{% static 'image/img6.png' %}" class="img-responsive" style="width: 100%;">
                    </div>
                    <div class="col-lg-6">
                        <img src="{% static 'image/img7.png' %}" class="img-responsive" style="width: 100%;">
                    </div>
                    <div class="col-lg-6">
                        <img src="{% static 'image/img8.png' %}" class="img-responsive" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio End -->
        <!-- Our Team -->
        <div class="page-section my-5 pb-5 pt-5" style="background-image: url({% static 'image/img9.png' %}); background-repeat: no-repeat; background-size: 500px; background-position: right;">
            <div class="container">
                <h2 class="text-white text-left text-uppercase pb-3" style="">Meet Our Team</h2>
                <div class="row text-base1">
                    <div class="col-lg-4">
                        <div class="card img-fluid">
                            <img class="card-img-top" src="{% static 'image/team2.jpg' %}" alt="Card image" style="">
                            <div class="card-img-overlay team" style="">
                                <h4 class="card-title">Jhon Doe</h4>
                                <p class="card-text">Founder, Bozia</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" style="">
                        <div class="card img-fluid" style="">
                            <img class="card-img-top" src="{% static 'image/team2.jpg' %}" alt="Card image" style="">
                            <div class="card-img-overlay team">
                                <h4 class="card-title">John Doe</h4>
                                <p class="card-text">Founder, Bozia</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" style="">
                        <div class="card img-fluid" style="">
                            <img class="card-img-top" src="{% static 'image/team3.jpg' %}" alt="Card image" style="">
                            <div class="card-img-overlay team">
                                <h4 class="card-title">John Doe</h4>
                                <p class="card-text">Founder, Bozia</p>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Team End -->
        <!-- Insights -->
        <div class="page-section my-5 pb-5 pt-5" style="">
            <div class="container">
                <h2 class="text-white text-left text-uppercase pb-3" style="">Our Insights</h2>
                <div class="row text-base1">
                    <div class="col-lg-6">
                        <img src="{% static 'image/img10.png' %}" class="img-responsive" style="width: 100%;">
                    </div>
                    <div class="col-lg-6 bg-base2" style="">
                        
                    </div>                    
                </div>
            </div>
        </div>
        <!-- Insights End -->
    </body>
</html>