.bg-base0{
    background-color: #15081c;
}
.bg-base1{
    background-color: #d91f4b;
}
.bg-base2{
    background-color: #13041b;
}
.bg-base3{
    background-color: #220a2d;
}
.text-base1{
    color: #d91f4b;
}